<h1>Welcome to my live weather detector</h1>

<form method="POST" action="{% url 'index' %}">
    {% csrf_token %}
    <input type="text" name="city" placeholder="Enter city name" required>
    <button type="submit">Get Weather</button>
</form>
{% if error %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}
<div>
    <h1>{{city}}</h1>
    <h3>country code: {{weather.country}}</h3>
    <h4>temp: {{weather.temp_c}}</h4>
    <h4>time: {{weather.time}}</h4>
    <h4>humidity: {{weather.humidity}}</h4>
    {% if weather %}
    <img src="{{ weather.icon }}" alt="Weather Icon">
    {% else %}
    <p>No weather data available.</p>
    {% endif %}
</div>